<template>
    <div class="container" >
         <nav v-if="IS_LOGGED_IN" class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link to="/" class="nav-link">Home</router-link>
        </li>
        
        <li class="nav-item">
          <router-link to="/user" class="nav-link">User</router-link>
        </li>
        <li class="nav-item">
          <a @click="LogoutUser" class="nav-link a">Logout</a>
        </li>
        <li class="nav-item">
          <p class="nav-link a">Hi! {{this.CURRENT_USER.name}}</p>
        </li>
      </ul>
    </nav><br/>
        <div>
            <transition name="fade">
                <router-view></router-view>
            </transition>
        </div>
    </div>
</template>

<script>
import { logout } from './helpers/auth';
import {mapGetters} from 'vuex';
export default {
    name: 'App',
  
    methods: {
      LogoutUser(){
        logout().
        then(() => {
                this.$store.commit("LOGOUT"),
                  this.$router.push({path: '/login'});
            })
      }
    },
    computed: mapGetters(['IS_LOGGED_IN','CURRENT_USER']),
}

</script>

<style>
.fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
    .a {
      cursor: pointer;
    }
</style>