<template>
  <div class="col-md-8 offset-md-2 pt-100">
        <div class="card">
            <article class="card-body">
                <!-- <a href="" class="float-right btn btn-outline-primary" @click.prevent="changeType('register')">Sign up</a> -->
                <h4 class="card-title mb-4 mt-1">Sign in</h4>
                <form @submit.prevent="authenticate">
                    <div class="form-group">
                        <input name="email" :class="{ 'is-invalid' : this.get('email') }" class="form-control" placeholder="Email or login" type="email" v-model="form.email">
                        <span class="invalid-feedback" role="alert">
                                    <strong>@{{ get('email') }}</strong>
                                </span>
                    </div>
       
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" :class="{ 'is-invalid' : this.get('password') }"  v-model="form.password">
                        <span class="invalid-feedback" role="alert">
                                    <strong>@{{ get('password') }}</strong>
                                </span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                            </div>
                        </div>
                    </div>
                </form>
            </article>
        </div>
    </div>
</template>

<script>
import { login } from '../../helpers/auth';
import {mapActions,mapState} from 'vuex';
export default {
    name: 'login',
    data(){
        return {
            
            form: {
                email: '',
                password: '',
            },
            type: 'login',
            error: null
        }
    },
    methods: {
        ...mapActions(['LOGIN','record']),
        authenticate(){
           
            login(this.form).
            then(res => {
                 
                this.$store.commit("LOGIN_SUCCESS", res),
                  this.$router.push({path: '/'});
            }).
            catch(error => {
                        this.$store.commit("LOGIN_FAILED", {error})
                        if (error.response.status === 422) {
                        this.record(error.response.data) || {};
                }
                    })
        },
        get(field){
            if (this.$store.state.auth.errors[field]) {
                return this.$store.state.auth.errors[field][0];
            }
        }
    },
    computed: {
            authError() {
                return this.$store.getters.AUTH_ERROR;
            }
        }
}
</script>

<style>

</style>