<template>
  <div>
    <h1>Create a user</h1>
    <form @submit.prevent="onSubmit" id="form-user">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">User Name</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              placeholder="Input name"
              :class="{ 'is-invalid': this.getErr('name') }"
              aria-describedby="helpId"
              v-model="name"
            />
            <span class="invalid-feedback" role="alert">
              <strong>@{{ getErr("name") }}</strong>
            </span>
          </div>

          <div class="form-group">
            <label for="">address</label>
            <input
              type="text"
              id="address"
              name="address"
              class="form-control"
              placeholder="address"
              :class="{ 'is-invalid': this.getErr('address') }"
              aria-describedby="helpId"
              v-model="address"
            />
            <span class="invalid-feedback" role="alert">
              <strong>@{{ getErr("address") }}</strong>
            </span>
          </div>

          <div class="form-group">
            <label for="">Phone</label>
            <input
              type="text"
              :class="{ 'is-invalid': this.getErr('phone') }"
              id="phone"
              name="phone"
              class="form-control"
              placeholder="phone"
              aria-describedby="helpId"
              v-model="phone"
            />
            <span class="invalid-feedback" role="alert">
              <strong>@{{ getErr("phone") }}</strong>
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="">email</label>
            <input
              type="text"
              id="email"
              :class="{ 'is-invalid': this.getErr('email') }"
              name="email"
              class="form-control"
              placeholder="email"
              aria-describedby="helpId"
              v-model="email"
            />
            <span class="invalid-feedback" role="alert">
              <strong>@{{ getErr("email") }}</strong>
            </span>
          </div>

          <div class="form-group">
            <label for="">Password</label>
            <input
              type="text"
              name="password"
              :class="{ 'is-invalid': this.getErr('password') }"
              id="password"
              class="form-control"
              placeholder="password"
              aria-describedby="helpId"
              v-model="password"
            />
            <span class="invalid-feedback" role="alert">
              <strong>@{{ getErr("password") }}</strong>
            </span>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { v4 as uuidv4 } from "uuid";

export default {
  name: "create",
  data() {
    return {
      errors: [],
      name: "",
      phone: "",
      address: "",
      email: "",
      password: "",
    };
  },
  created() {
    if (!this.IS_LOGGED_IN) {
      alert("Please login");
      this.$router.push({ path: "/login" });
    }
  },
  methods: {
    ...mapActions(["addUsers", "record"]),
    onSubmit(e) {
      this.addUsers({
        name: this.name,
        phone: this.phone,
        address: this.address,
        email: this.email,
        password: this.password,
        created_by: this.CURRENT_USER.id,
      }).then(() => {
        this.$router.push({
          name: "index",
        });
      }).catch((error) => {
         if (error.response.status === 422) {
            this.record(error.response.data.errors) || {};
          }
      });
    },
    getErr(field) {
      if (this.$store.state.auth.errors[field]) {
        return this.$store.state.auth.errors[field][0];
      }
    },
  },
  computed: mapGetters(["CURRENT_USER", "IS_LOGGED_IN"]),
};
</script>

<style>
</style>