<template>
  <div>
    <h1>Edit User</h1>
    <form @submit.prevent="onUpdate">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>name:</label>
            <input type="text" class="form-control" v-model="user.name">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>address:</label>
              <textarea class="form-control" v-model="user.address" rows="5"></textarea>
            </div>
          </div>
        </div><br />
        <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>phone:</label>
            <input type="text" class="form-control" v-model="user.phone">
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>email:</label>
            <input type="text" class="form-control" v-model="user.email">
          </div>
        </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Update</button>
        </div>
    </form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
    export default {
      // data() {
      //   return {
      //     user: {}
      //   }
      // },
      created() {
        this.editUser(this.$route.params.id);
        if(!this.IS_LOGGED_IN){
           alert("Please login")
           this.$router.push({path: '/login'})
         }
      },
      
      methods: {
        ...mapActions(['editUser','updateUser']),
        onUpdate(){
          
          this.updateUser(
           this.user,
           this.$router.push({
                    name: 'index'
                })
          )
        }
        
      },
      computed:mapGetters(['user','IS_LOGGED_IN'])
    }
</script>