<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">
                    Home
                </div>
                <div class="card-body">
                    This is Home
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters} from 'vuex'
export default {
    created() {
        if(!this.IS_LOGGED_IN){
           alert("Please login")
           this.$router.push({path: '/login'})
         }else{
             
         }
      },
    mounted(){
        console.log('component mounted')
    },
      computed:mapGetters(['IS_LOGGED_IN'])

}
</script>

<style>

</style>