
<template>
  <div>
      <h1>List User</h1>
      
        <div class="row">
          <div class="col-md-10">
              <div class="card">
                    <input type="text" v-model="searchText" @keyup="search()">
                </div>
          </div>
          <div class="col-md-2">
            <router-link :to="{ name: 'create' }" class="btn btn-primary">Create User</router-link>
          </div>
        </div><br />

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>address</th>
                <th>phone</th>
                <th>email</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="user in users" :key="user.id">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.email }}</td>
            
                    <td><router-link :to="{name: 'edit', params: { id: user.id }}" class="btn btn-primary">Edit</router-link></td>
                    <td><button class="btn btn-danger" @click.prevent="deleteUser(user.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'


import axios from "axios";
    export default {
        data() {
            return {
                searchText: '',
            }
        },
        mounted() {
            console.log('Index Component mounted.')
        },
        created(){
            this.getUser()
             if(!this.IS_LOGGED_IN){
           alert("Please login")
           this.$router.push({path: '/login'})
         }
        },  
        
        methods: {
            ...mapActions(['getUser']),
            
            async deleteUser(id) {
                // confirm('Are you sure you want to delete')
                try {
                    await this.axios.delete(`http://127.0.0.1:8000/api/user/delete/${id}`)
                    .then(response => {
                        let i = this.users.map(item => item.id).indexOf(id);
                    this.users.splice(i,1)
                })
                }catch(e) {
                    console.log(e.message)
                }
          
            },
            search(){
                
                return new Promise((res, rej) => {
                axios.post('http://127.0.0.1:8000/api/search', {name:this.searchText})
                    .then(response => {
                        console.log(this.$store.state.users.users)
                 this.$store.state.users.users = response.data.data
             })
            .catch(err => {
                rej(err);
            })
    })
            }
        },
        computed:mapGetters(['users','IS_LOGGED_IN']),
    }
</script>